*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", Arial, sans-serif;
    line-height: 1.6;
    }

/* header */
nav{
    .navbar-brand img{
        width: 99px;
        height: 64px;
        margin: 0 0 0 100px;
    }
    ul{
        li{
            #colorlinks {
                color: black;
                font-size: 18px;
                margin: 0 1rem;
                }
            #colorlinks:hover {
                color: #3a4e8e;
                }

        }
    }

}
main{
    .imgprincipal{
        position:static;
        display: flex;
        align-items: flex-end;
        z-index: 1;
    }
    .imgprincipal img{
        width: 1345px;
        padding: 0;
        border: none;
    }
    .imgprincipal h1{
        text-align: left;
        color: #fff;
        padding: 10px 20px;
        position:absolute;
        margin: 1rem;
        font-weight: bolder;
    }
    padding-top: 23%;
}
    @media screen and (min-width: 320px) {
        main{
            padding-top: 29%;
    }
        .imgprincipal h1{
            font-size: 1.3rem;
    }
}
    @media screen and (min-width: 425px) {
        main{
            padding-top: 23%;
    }
        .imgprincipal h1{
            font-size: 1.5rem;
    }
}
    @media screen and (min-width: 768px) {
        main{
            padding-top: 10%;
        }
        .imgprincipal h1{
            font-size: 2rem;
        }
    }
    @media screen and (min-width: 1124px) {
        main{
            padding-top: 7%;
        }
        .imgprincipal h1{
            font-size: 2rem;
        }
} 
/* footer */
footer{
    background-color: rgb(16, 76, 151);
    .col-4{
            h2{
                font-size: 16px;
                margin: 20px 0;
                color: #fff;
                text-align: center;
                font-weight: bolder;
            }
            li{
                list-style:none;
                text-align: center;
                margin: 5px;
                    }
            p{
                font-size: 12px;
                margin: 20px 0;
                text-align: center;
                color: #fff;
                align-items:center;
                          
            }
        }
    }
/* INDEX */
.seccion1{
    min-height: 100vh;
    h2{
        color: #1d1d1d;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 7px;
        margin: 30px 0;
    }
    p{
        color: #4a4a4a;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        margin: 0rem 5rem 3rem 5rem;
    }
    iframe{
        width: 600px;
        height:300px;
        text-align: center;
    }
    @media screen and (min-width: 320px) {
        iframe{
            width: 100%;
            align-items: center;
        }
        p{
            margin: 0rem 2rem 3rem 2rem; 
            font-size: 15px
        }
    @media screen and (min-width: 768px) {
        iframe{
            width: 100%;
            }
        p{
            margin: 0rem 4rem 3rem 4rem;
            font-size: 16px;
            }
        }     
    @media screen and (min-width: 1124px) {
        iframe{
            width: 600px;
            height: 300px;
            }
        p{
            margin: 0rem 4rem 1rem 4rem;
            font-size: 16px;
            }
        }  
    }
}


.seccion1_ubicacion-mapa iframe{
    width: 100%;
    height: 80vh;
    display: block;
    margin: 0 auto;
}
.masinfo {
    margin: 80px;
    h3{
        color: rgb(16, 76, 151);
        font-weight: normal;
        font-size: 18px;
        text-align: left;
        margin: 0.5rem 3rem ;
    }
    p{
        color: #4a4a4a;
        font-size: 14px;
        text-align: left;
        margin: 0.5rem 3rem ;
        align-self: center;
    }
    ul{
        color: #4a4a4a;
        font-weight: normal;
        font-size: 14px;
        text-align:left;
        margin: 0.5rem 4rem ;
        align-self:center;
        list-style:circle;
    }

}
/* HABITACIONES */
.habitaciones {
    h2{
        color: #1d1d1d;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 7px;
        margin: 30px 0;
    }
    p{
        color: #4a4a4a;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        margin: 3rem 5rem;
    }
    @media screen and (min-width: 320px) {
        p{
            margin: 0rem 2rem 3rem 2rem; 
            font-size: 15px
        }
    }
    @media screen and (min-width: 768px) {
        p{
            margin: 0rem 4rem 3rem 4rem;
            font-size: 16px;
        }
    }   
}
.card-group{
    h5{
        color: rgb(16, 76, 151);
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        margin-top: 1rem;
    }
    p{
        color: #4a4a4a;
        font-size: 14px;
        text-align: left;
        margin: 0;
    }
    ul{
        color: #4a4a4a;
        font-weight: normal;
        font-size: 12px;
        text-align:left;
    }
}

/* GALERIA DE FOTOS */
.galeria {
    text-align: center;
    padding: 7px;
    margin: 30px 0;
    h2{
        color: #1d1d1d;
        font-weight: bold;
        font-size: 30px;
     }
    p{
        color: #4a4a4a;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        margin: 3rem 5rem;
    }
    h3{
        color: rgb(16, 76, 151);
        font-weight: normal;
        font-size: 20px;
        padding: 7px;
        margin: 30px;
        text-align: center;
    }
    @media screen and (min-width: 320px) {
        p{
            margin: 2rem 3rem 2rem; 
            font-size: 15px
        }
    }
    @media screen and (min-width: 768px) {
        p{
            margin: 3rem 4rem;
            font-size: 16px;
        }
    }  

}

/* SERVICIOS */
.servicios{ 
    h2{
        color: #1d1d1d;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 7px;
        margin: 30px 0;
    }
    p{
        color: #4a4a4a;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        margin: 3rem 5rem;
    }
    @media screen and (min-width: 320px) {
        p{
            margin: 2rem 3rem 2rem; 
            font-size: 15px
        }
    }
    @media screen and (min-width: 768px) {
        p{
            margin: 3rem 4rem;
            font-size: 16px;
        }
    }
    .servicios_cuadro{     
        h3{
            color: rgb(16, 76, 151);
            font-weight: normal;
            font-size: 18px;
            text-align: center;
            margin: 30px;
        }
        p{
            color: #4a4a4a;
            font-weight: normal;
            font-size: 12px;
            text-align:center;
            margin: 20px;
        }
        img{
            width: 70px;
            display:block;
            margin:auto;
        }
        @media screen and (min-width: 320px) {
            h3{
                margin: 10px;
            }
        }
        @media screen and (min-width: 768px) {
            p{
                margin: 20px;
            }
        }
    }
}


/* CONTACTO */  
.container h2{
    color: #1d1d1d;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 7px;
    margin: 30px 0;
}

.form-group .row input{
    margin: 10px;
    position: initial;
}
 .form-group label{
    color: #4a4a4a;
    margin: 10px;
    }

.custom-select{
    margin: 10px;
    color: #4a4a4a;
}
.form-group .row textarea{
    margin: 10px;
}
.form-group .row button{
    margin: 10px;
}
